$offcanvas-horizontal-width:200px;
$offcanvas-bg-color:none;
$accordion-button-focus-box-shadow:none;
$offcanvas-border-width:none;
$modal-content-border-width:0;
$accordion-button-color:#2b7e36b0;
$accordion-color:#2b7e36b0;
$accordion-button-active-color:#2b7e36b0;
$offcanvas-start-border-width:none;
$accordion-button-active-bg:none;
$primary:#28508b;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


