.footer-08 {
  padding: 0;
  overflow: hidden;
  background: #f1f6f5;
}
.footer-08 a {
  color: #2b7e36b0;
  text-decoration: none;
}
.contacto{
  text-align: center;
  color: #2b7e36b0;
}
.copyrigth{
  color: #2b7e36b0;
}
.titulocap2{
  text-align: center;
  color: #2b7e36b0;
}